cvxpy==1.9.2
certifi==2025.11.12
gridstatus==0.36.0
matplotlib==3.10.0
mysql-connector-python==26.7.0
numpy==2.2.3
OpenDSSDirect.py==0.9.4
pandas==2.2.3
pytest==9.1.1
python-dotenv==1.2.3
requests==2.34.2
